
@import url("swiss.css");

.deck-container .slide h1 {
  font-size: 4em;
}

.deck-container .slide h2 {
  font-size: 2em;
}

.deck-container .slide blockquote {
  font-size: 1em;
  padding: 0em;
  border: none;
}
